body {
  background: rgb(252, 252, 149);
}
h1,
p,
a {
  text-align: center;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  border-radius: 15px;
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
.pages {
  text-align: center;
}
.pages a {
  margin-right: 20px;
  color: green;
}
.pages a:last-child {
  margin: 0;
}
